---
layout: blog
title: Blog
permalink: /blog/
---

<div id="blog">
	<ul id="post-list" class="scene_element scene_element--fadeinup">
		{% for post in site.posts %}
			<li>
				<div class="post-meta">
					<span class="post-title">{{ post.title }}</span>
					<span class="post-date">{{ post.date | date: "%-d %b %Y" }}</span>
				</div>

				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
					<div class ="post-content">
						{% if post.image %}
							<div class="post-image" style="background-image: url({{ post.image }});"></div>
						{% endif %}
						<p class="post-excerpt">
							{{ post.content | strip_html | truncatewords: 60 }}
						</p>
						<svg class="post-chevron" width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
							<path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z" fill="black"/>
						</svg>
					</div>
				</a>
			</li>
		{% endfor %}
	</ul>

	<!-- Pagination links -->
	<div id="pagination">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" id="previous">Previous</a>
		{% endif %}
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" id="next">Next</a>
		{% endif %}
	</div>

	<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>