html {
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: hidden;
}

body {
	background-image: url(../img/background.jpg);
	background-color: #E13027;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

@import
	"layouts/home",
	"layouts/header",
	"layouts/blog",
	"layouts/post",
	"layouts/portfolio",
	"layouts/project"
;