html {
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #252525;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@import
		"_sass/layouts/home",
		"_sass/layouts/header",
		"_sass/layouts/blog",
		"_sass/layouts/post"
;