#blog {
	margin-left: span(3);
	margin-right: span(3);
	margin-top: $margin-top-default;

	@include breakpoint($tablets) {
		margin-left: span(2);
		margin-right: span(2);
	}

	@include breakpoint($smartphones) {
		margin-left: span(1);
		margin-right: span(1);
		margin-top: $margin-top-smartphones;
	}

	#post-list {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: 50px;

			$size-change: 5px;
			padding: $size-change;
			
			@keyframes grow {
			    from {padding: $size-change;}
			    to {padding: 0px;}
			}

			@keyframes shrink {
				from {padding: 0px;}
				to {padding: $size-change;}
			}

			animation-name: shrink;
			animation-duration: 0.5s;
			
			&:hover, &:active {
				animation-name: grow;
				animation-duration: 0.5s;

				padding: 0px;
			}

			.post-meta {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				margin: 0px 25px 15px 25px;

				font-family: 'Bonkers';
				letter-spacing: 4.61px;

				.post-title {
					flex-grow: 1;
					color: white;
					font-size: 1.5em;
				}

				.post-date {
					margin-top: 5px;
					color: #9B9B9B;
					text-align: right;
				}
			}

			.post-link {
				padding-top: 25px;
				color: inherit;
				text-decoration: inherit;

				.post-content {
					position: relative;
					background: white;
					padding: 8px 25px 8px 25px;

					@include shadow-light;
					
					.post-image + .post-excerpt {
						// there is an image

						margin-left: 75px;
					}

					.post-image {
						position: absolute;
						width: 75px;
						left: 0;
						bottom: 0;
						top: 0;

						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
					}

					.post-excerpt {
						//display: block;
						//position: absolute;
						position: relative;

						font-family: 'Helvetica';
						line-height: 1.2em;
						color: dimgrey;
						margin-left: 0px;
						margin-right: 50px;
						overflow: clip;
						height: 1.2em*4; /* exactly three lines */
						overflow: hidden;
						//max-height: 72px;
						//@include ellipsis(100%);

						@include breakpoint($smartphones) {
							margin-left: 30px;
							margin-right: 30px;
						}
					}

					.post-excerpt:after {
					  content: "";
					  text-align: right;
					  position: absolute;
					  bottom: 0;
					  right: 0;
					  width: 15%;
					  height: 1.2em;
					  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
					}

					.post-chevron {
						@include centerer(false, true);
						right: 25px;

						> path {
							fill: grey;
						}

						@include breakpoint($smartphones) {
							right: 15px;
						}
					}
				}
			}
		}
	}

	#pagination {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		margin-left: span(2);
		margin-right: span(2);

		> a {
			color: white;
			text-decoration: none;
			font-family: 'Bonkers';
			letter-spacing: 4px;
			margin-bottom: 50px;

			&:hover {
				color: black;
				background: white;
				padding: 7px 1px 5px 8px;
				@include shadow-light;
			}
		}
	}
}