.main-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0px;
	z-index: 1000;
	//background: linear-gradient(to bottom, rgba(black, 0.4), rgba(black, 0));

	.header-content {
		margin-left: gutter();
		margin-right: gutter();

		> nav {
			padding-top: 15px;
			
			ul {
			    margin: 0;
			    padding: 0;
			    display: flex;
			    flex-wrap: wrap;
			    justify-content: space-between;
			    list-style: none;

			    .page-link-alt {
			    	display: none;
			    }

			    @include breakpoint($smartphones) {
			    	.page-link-default {
			    		display: none;
			    	}

			    	.page-link-alt {
			    		display: inline;
			    	}
			    }
			  }

			a {
				color: white;
				text-decoration: none;
				font-family: 'Open Sans', sans-serif;
				letter-spacing: 9px;
			}

			.site-icon {
				display: none;
				margin-top: -1px;
			}

			.site-title {
				font-family: 'Open Sans', sans-serif;
				font-weight: 800;
				font-size: 24px;
				@include text-effect(right, #87FFFD);
			}

			@include breakpoint($smartphones) {
				.site-icon {
					display: inline;
				}

				.site-title {
					display: none;
				}
			}

			svg {
				vertical-align:middle;
			}
		}
	}
}