#portfolio {
	margin-top: $margin-top-default;

	@include breakpoint($smartphones) {
		margin-top: $margin-top-smartphones;
	}

	#page-title {
		position: fixed;
		z-index: -1000;
		top: $margin-top-default/2 - 25px;
		left: -0.2em;
		right: 0px;
		margin: 0px;

		font-family: OpenSans;
		font-weight: 800;
		font-size: 175px; // 150px
		color: rgba(#FFFFFF, 0.1);
		letter-spacing: 0.25em;
		word-wrap: break-word;
	}

	#welcome {
		text-align: center;
		margin-left: span(2);
		margin-right: span(2);

		@include breakpoint($smartphones) {
			margin-left: gutter();
			margin-right: gutter();
		}

		> h1 {
			// Welcome Message
			font-family: "Open Sans";
			color: white;

			font-size: 48px;
			color: #FFFFFF;
			letter-spacing: 18px;
		}

		> p {
			// Description
			font-family: "Open Sans";
			color: white;
			letter-spacing: 2px;
		}
	}

	#project-list {
		margin-left: span(2);
		margin-right: span(2);
		margin-top: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.project-element {
			width: 32%;
			margin-bottom: 10px;

			&:nth-child(4n+2) {
				width: 65%;
			}
			  
			&:nth-child(4n+3) {
				width: 65%;
			}

			&:nth-last-child(1) {
				&:nth-child(odd) {
					width: 100%;
				}
			}

			@include breakpoint($smartphones) {
				width: 100% !important;
			}

			a {
				font-family: "Open Sans";
				letter-spacing: 4px;
				color: white;
				font-weight: 600;
				text-transform: uppercase;
				text-decoration: none;
			}

			.project-image {
				width: 100%;
				height: 200px;
				@include shadow-light;
				transition: background-size 0.3s;

				background-size: 200%;
				background-repeat: no-repeat;
				background-position: center center;

				&:hover {
					background-size: 150%;
				}
			}
		}
	}

}