.post {
	.article-image + .article-body {
		// there is an image
		& {
			margin-top: $margin-top-default*5/3;

			@include breakpoint($smartphones) {
				margin-top: $margin-top-default;
			}
		}
	}
	margin-top: $margin-top-default;

	@include breakpoint ($smartphones) {
		margin-top: $margin-top-smartphones;
	}

	.article-image-container {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;

		.article-image {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: $margin-top-default*8/3;
			@include breakpoint($smartphones) {
				height: $margin-top-default*2;
			}

			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}

		.article-image:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background:
				linear-gradient(
					rgba(0, 0, 0, 0) 40%, 
					rgba(0, 0, 0, 0.4)
				);
		}

		.article-image:nth-last-child(2) {
			top: 20px;
			opacity: 0.4;
		}

		.article-image:nth-last-child(3) {
			top: 40px;
			opacity: 0.1;
		}
	}

	.article-body {
		position: relative;
		z-index: 1;
		margin-left: span(3);
		margin-right: span(3);

		@include breakpoint($smartphones) {
			margin-left: gutter();
			margin-right: gutter();
		}

		@include breakpoint($tablets) {
			margin-left: span(2);
			margin-right: span(2);
		}

		.article-meta {
			font-family: "Open Sans";
			color: white;
			margin-bottom: 15px;
			letter-spacing: 4.61px;
			text-shadow: 0px 2px 14px rgba(0,0,0,0.60);

			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.article-title {
				font-weight: 800;
				font-size: 2.5em;
				letter-spacing: 0.35em;
				
				margin: 0;
			}

			.article-date {
				margin-top: 1em;
			}

			.article-author {
				margin-top: 1em;
			}
		}

		.post-content {
			// style article content here!
			font-family: Helvetica;
			background: white;
			padding: 15px 30px 15px 30px;
			border-radius: 30px 30px 0px 0px;
			color: dimgrey;

			a {
				color: initial;

				@include link-effect-weak(slategray, black);
			}

			img {
				max-width: 80%;
				display:block;
				padding-top: 15px;
				padding-bottom: 15px;
				margin: auto;
			}

			p > code {
				// inline code
				background: lightgray;
				color: #333333;
				padding: 3px;
				border-radius: 3px;
			}

			blockquote {
				background: #f9f9f9;
				border-left: 10px solid #ccc;
				margin: 1.5em 10px;
				padding: 0.5em 10px;
				quotes: "\201C""\201D""\2018""\2019";

				p {
					margin-left: 10px;
				}
			}
			
			/*
			blockquote p {
			  display: inline;
			}*/

			
			.highlight {
				// syntax highlighting
				padding: 10px;
				border-radius: 10px;
				overflow: scroll;

				@include breakpoint($smartphones) {
					margin-left: gutter();
					margin-right: gutter();
				}

				> pre {
					margin-left: 10px;
					margin-right: 10px;
				}

				.code {
					> pre {
						margin: 0px;
					}
				}
				
				.gutter {
					user-select: none;

					.lineno {
						color: dimgrey;
						margin-top: 0px;
						margin-bottom: 0px;
						margin-right: 10px;
					}
				}
			}

			@include shadow-light;
		}
	}
}