.post {
	.article-image + .article-body {
		// there is an image
		& {
			margin-top: $margin-top-default*5/3;

			@include breakpoint($smartphones) {
				margin-top: $margin-top-default;
			}
		}
	}
	margin-top: $margin-top-default;

	@include breakpoint ($smartphones) {
		margin-top: $margin-top-smartphones;
	}

	.article-image {
		position: absolute;
		width: 100%;
		top: 0px;
		left: 0px;
		right: 0px;
		height: $margin-top-default*8/3;
		@include breakpoint($smartphones) {
			height: $margin-top-default*2;
		}
		z-index: -1;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.article-body {
		margin-left: span(3);
		margin-right: span(3);

		@include breakpoint($smartphones) {
			margin-left: gutter();
			margin-right: gutter();
		}

		@include breakpoint($tablets) {
			margin-left: span(2);
			margin-right: span(2);
		}

		.article-meta {
			font-family: Bonkers;
			color: white;
			margin-bottom: 15px;
			font-family: 'Bonkers';
			letter-spacing: 4.61px;
			text-shadow: 0px 2px 14px rgba(0,0,0,0.60);

			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.article-title {
				font-size: 2.5em;
				letter-spacing: 0.35em;
				
				margin: 0;
			}

			.article-date {
				margin-top: 1em;
			}

			.article-author {
				margin-top: 1em;
			}
		}

		.post-content {
			// style article content here!
			background: white;
			padding: 8px 25px 8px 25px;
			color: dimgrey;

			a {
				color: initial;
			}

			.highlight {
				padding: 10px;
				border-radius: 10px;
				color: initial !important;
			}

			@include shadow-light;
		}
	}
}