#project {
	margin-top: $margin-top-default;

	@include breakpoint($smartphones) {
		margin-top: $margin-top-smartphones;
	}

	#project-meta {
		display: table;
		font-family: 'Open Sans';
		
		margin: 0 auto;


		#project-date {
			color: darkgrey;
			text-align: center;

			letter-spacing: 10px;
		}

		#project-title {
			display: inline-block;
			text-align: center;

			margin: 20px 0 0 0;
			background: white;

			@include shadow-light;
			padding: 17px 2px 9px 23px;

			font-size: 2em;
			letter-spacing: 24px;
		}
	}

	#project-image {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: -1;
	
		filter: blur(10px);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.device {
		display: block;
		max-width: 50%;
		margin: 100px auto;
		filter: drop-shadow(5);

		@include breakpoint($smartphones) {
			max-width: 90%;
		}
	}

	#project-content {
		margin: 0 span(2);

		@include breakpoint($smartphones) {
			margin: 50px gutter() 50px gutter();
		}

		color: lightgrey;
		font-family: Helvetica;

		img {
			max-width: 60%;
			display:block;
			margin: 30px auto 30px auto;
		}
	}
}