#project-background {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#project {

	#project-meta {
		display: table;
		font-family: 'Open Sans';
		margin: 0 auto;
		color: white;
		
		margin-top: $margin-top-default;

		@include breakpoint($smartphones) {
			margin-top: $margin-top-smartphones;
		}

		#project-date {
			text-align: center;
			letter-spacing: 0.2em;
		}

		#project-title {
			text-align: center;
			margin: 10px 0 0 0;
			font-size: 48px;
			font-weight: 800;
			letter-spacing: 0.2em;
			text-transform: uppercase;
		}

		#project-image {
			width: 100%;
			max-width: 700px;
			height: 250px;
			margin-top: 75px;
			
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	#project-content {
		position: absolute;
		top: 100%;
		left: 0px;
		right: 0px;
		
		section {
			display: block;
			padding: 50px span(2);

			@include breakpoint($smartphones) {
				padding: 50px span(1);
			}

			&:nth-of-type(odd) {
				background: rgba(white, 0.15);
			}

			#project-description {
				display: inline;

				font-weight: 800;
				font-size: 3vw;
				line-height: 2em;
				color: white;
				box-shadow: 0px 10px 0 rgba(white, 0.25);

				@include breakpoint($smartphones) {
					font-size: 36px;
				}
			}

			h1 {
				font-size: 48px;
				margin-top: 0px;
			}

			h2 {
				font-size: 36px;
			}

			h3 {
				font-size: 24px;
			}

			p {
				color: rgba(white, 0.7);
				font-size: 18px;
			}
		}

		@include breakpoint($smartphones) {
			margin: 0px gutter() 0px gutter();
		}

		color: white;
		font-family: Helvetica;

		img {
			max-width: 60%;
			display:block;
			margin: 30px auto 30px auto;
		}
	}
}