.main-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0px;
	z-index: 1000;
	@include background(linear-gradient(to bottom, rgba(black, 0.4), rgba(black, 0)));

	.header-content {
		margin-left: gutter();
		margin-right: gutter();

		line-height: 56px;

		a {
			color: white;
			text-decoration: none;
			font-family: 'Bonkers';
			letter-spacing: 9px;
		}

		.header-selected {
			color: black;
			background: white;
			margin: 5px;
			padding: 7px 1px 5px 8px;
			@include shadow-light;
		}

		.site-icon {
			display: none;
			margin-top: -1px;
		}

		.site-title {
			font-family: 'BEYNO';
		}

		@include breakpoint($smartphones) {
			.site-icon {
				display: inline;
			}

			.site-title {
				display: none;
				font-family: 'Bonkers';
			}
		}

		svg {
			vertical-align:middle;
		}
		

		> nav {
			float: right;

			.page-link {
				.page-link-alt {
					display: none;
				}

				@include breakpoint($smartphones) {
					.page-link-default {
						display: none;
					}

					.page-link-alt {
						display: inline;
					}
				}

				&:hover {
					color: black;
					background: white;
					padding: 7px 1px 5px 8px;
					@include shadow-light;

					.nav-icon {
						fill: black;
					}
				}

				// Gaps between nav items, but not on the last one
				&:not(:last-child) {
					margin-right: 20px;
				}
			}
		}
	}
}