.home {
	.home-centered {
		height: 180px;
		@include centerer;
		top: 40%;

		.home-title {
			padding: 17px 2px 9px 23px;
			margin: 0 auto;
			text-align: center;
			font-family: 'BEYNO';
			background: white;
			@include shadow-heavy;

			font-size: 2em;
			letter-spacing: 24px;
		}

		.menu {
			@include display(flex);
			@include justify-content(space-between);
			@include flex-wrap(wrap);
			margin-top: 50px;

			a {
				font-family: 'Bonkers';
				letter-spacing: 9px;
				//position: absolute;
				padding: 10px 6px 10px 14px;
				color: white;
				text-decoration: none;
			}

			a:hover {
				color: black;
				background: white;
				@include shadow-light;
			}

			#menu-blog {
				//left: 0px;
				//bottom: 0px;
			}

			#menu-portfolio {
				//right: 0px;
				//bottom: 0px;
			}
		}
	}
}