---
layout: portfolio
---

<style>
	#project-image {
		background-image:
			url({{ page.image }});
	}
	#project-background {
		background-image:
			url(../background.svg);
	}
</style>

<div id="project-background" class="scene_element scene_element--fadeinup"></div>
<article id="project">
	<div id="project-meta" class="scene_element scene_element--fadein">
		<!-- date post was written -->
		<div id="project-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{{ page.date | date: "%b %Y" }}
		</div>

		<h1 id="project-title" itemprop="name headline">{{ page.title }}</h1>
		{% if page.image %}
			<div id="project-image-container" class="scene_element scene_element--fadein">
				<img src="{{ page.image }}"></img>
				<img src="{{ page.image }}"></img>
			</div>
		{% endif %}
	</div>

	<!-- Content -->
	<div id="project-content" itemprop="articleBody">
		{% if page.description %}
		<section>
			<span id="project-description" data-hover="{{ page.description }}">{{ page.description }}</span>
		</section>
		{% endif %}
		{% assign sections = content | split: "<h1" %}
		{% for section in sections %}
			{% if forloop.first == false %}
				<section>
					{{ section | prepend: "<h1" }}
				</section>
			{% endif %}
		{% endfor %}
	</div>
</article>